# **Practice Projects**

## **Project 1**

In [ ]:
from turtle import pd


dict = { 'Country' : ['India', 'USA', 'Germany', 'USA', 'Germany', 'India', 'USA', 'India', 'Germany', 'USA'], 
        'Age' : [ 44, 27, 40, 48, 40, 35 , np.nan , 48, 50, 27 ],
        'Salary' : [72000, 42000, 51000, 62000, np.nan, 55000, 50000, 72000, 38000, 42000],
        'Married' : [ 'Yes', 'No', 'Yes', 'Yes', 'NO', 'Yes', 'No', 'No', 'Yes', 'NO']}


X = pd.DataFrame(dict)

# **Project 2** 

car = pd.read_csv('https://github.com/ybifoundation/Dataset/raw/main/Car%20Sales%20Missing%20Data.csv')

In [ ]:
car.head()

     Make Colour  Odometer (KM)  Doors      Price
0  Nissan  Black        10148.0    4.0  Rs1366850
1  Toyota  White        10217.0    4.0  Rs1144150
2  Toyota  White        10247.0    4.0  Rs1628300
3   Honda  White        10953.0    4.0   Rs831800
4  Nissan   Blue        10954.0    4.0  Rs1521950

In [ ]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           951 non-null    object
 1   Colour         950 non-null    object
 2   Odometer (KM)  950 non-null    float64
 3   Doors          950 non-null    float64
 4   Price          950 non-null    object
dtypes: float64(2), object(3)
memory usage: 39.2+ KB

## **Project 3** 

salary = pd.read_csv('https://raw.githubusercontent.com/ybifoundation/Dataset/main/Adult%20Salary.csv')

In [ ]:
salary = pd.read_csv('https://raw.githubusercontent.com/ybifoundation/Dataset/main/Adult%20Salary.csv')

In [ ]:
salary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Age            48842 non-null  int64
 1   Gender         48842 non-null  object
 2   WorkingClass   48842 non-null  object
 3   Education      48842 non-null  object
 4   MaritalStatus  48842 non-null  object
 5   Occupation     48842 non-null  object
 6   Relationship   48842 non-null  object
 7   Race           48842 non-null  object
 8   NativeCountry  48842 non-null  object
 9   Income         48842 non-null  object
dtypes: int64(1), object(9)
memory usage: 3.7+ MB

In [ ]:
salary.head()

,Age,Gender,WorkingClass,Education,MaritalStatus,Occupation,Relationship,Race,NativeCountry,Income
0,25,Male,Private,11th,Never-married,Machine-op-inspct,Own-child,Black,United-States,<=50K
1,38,Male,Private,HS-grad,Married-civ-spouse,Farming-fishing,Husband,White,United-States,<=50K
2,28,Male,Local-gov,Assoc-acdm,Married-civ-spouse,Protective-serv,Husband,White,United-States,>50K
3,44,Male,Private,Some-college,Married-civ-spouse,Machine-op-inspct,Husband,Black,United-States,>50K
4,18,Female,?,Some-college,Never-married,?,Own-child,White,United-States,<=50K